.friend1 {
	width: 20%;
	margin:0 auto;
	height: 120px;
	background: #f2d271;
	border: 3px solid #c0c0c0;
}

.friend2 {
	width: 20%;
	margin:0 auto;
	height: 120px;
	background: #f2d271;
	border: 3px solid #c0c0c0;
}



